<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<!-- 加载配置属性文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath*:rocketmq/rocketmq.properties" />

	<!-- 默认producer -->
	<bean id="demoDefaultMQProducer" class="org.apache.rocketmq.client.producer.DefaultMQProducer"
		init-method="start" destroy-method="shutdown">
		<property name="namesrvAddr" value="${rocketmq.namesrvAddr}"></property>
		<property name="producerGroup" value="${rocketmq.producerGroup}"></property>
		<property name="instanceName" value="￥{rocketmq.instanceName}"></property>
	</bean>
	<!-- 默认消费者 -->
	<bean id="demoDefaultMQPushConsumer" class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer"
		init-method="start" destroy-method="shutdown">
		<property name="namesrvAddr" value="${rocketmq.namesrvAddr}"></property>
		<property name="consumerGroup" value="${rocketmq.consumerGroup}"></property>
		<property name="messageListener" ref="demoConcurrentlyMessageListener"></property>
<!--  		<property name="messageListener" ref="demoOrderlyMessageListener"></property>
 -->		<property name="subscription">
			<map>
				<!-- 队列名  tag 发送消息可以加tag 按tag筛选，* 为全部-->
				<entry key="TopicTest" value="*"></entry>
			</map>
		</property>
	</bean>
</beans>